.button {
  background: var(--color-primary);
  color: var(--color-light);
  padding: 1rem;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  transition: all 80ms ease-in-out;
  outline: 0.5rem solid transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 0.5rem solid rgba(#821433, 0.5);
  }

  &:active {
    outline: 0.5rem solid rgba(#821433, 0.75);
  }

  &.full {
    width: 100%;
  }

  &[disabled=""] {
    background-color: #545454;
    outline-color: #7e7e7e;
  }

  .icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 0.25rem;
  }

  &.secondary {
    width: 100%;
    border: 1px solid #000;
  }
}
