@import 'tailwindcss';

/* stylelint-disable-next-line at-rule-no-unknown */
@theme {
	--color-primary: #ff0000;
	--color-darkbg: #242627;
	--color-accent: #00ffd0;
	--color-text: #f5f6fa;
	--color-muted: #a0aec0;
}

:root {
	display: flex;
	justify-content: center;
	background-color: #242627;
	color: #f5f6fa;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-height: 100vh;
	background-color: #242627;
	color: #f5f6fa;
}
